################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/VideoUploader.API
/VideoUploader.Consumer
/VideoUploader.Data
/VideoUploader.Models
/VideoUploader.Services
/VideoUploader.Tests
